<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>{% block title %}Booking System{% endblock %}</title>
    {% load static %}
</head>
<body>
    <nav>
        {% if user.is_authenticated and user.is_superuser == False %}
            <div class="nav-container">
                <a href="{% url 'booking' %}" class="nav-link {% if request.resolver_match.url_name == 'booking' or request.resolver_match.url_name == 'home' %}active{% endif %}">Book Appointment</a>
                <a href="{% url 'appointments' %}" class="nav-link {% if request.resolver_match.url_name == 'appointments' %}active{% endif %}">My Appointments</a>
                <a href="{% url 'logout' %}" class="nav-link {% if request.resolver_match.url_name == 'logout' %}active{% endif %}">Logout</a>
            </div>
        {% elif user.is_authenticated and user.is_superuser %}
            <div class="nav-container">
                <a href="{% url 'logout' %}" class="nav-link {% if request.resolver_match.url_name == 'logout' %}active{% endif %}">Logout</a>
            </div>
        {% endif %}
    </nav>

    <main>
        {% block content %}
        {% endblock %}
    </main>
    {% block scripts %}
    {% endblock %}
</body>
</html>